.middle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}



.currency-selector {
  display: flex;
  align-items: center;
}

.currency-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  position: relative;
}

.flag-icon {
  width: 20px;
  height: 15px;
  margin-right: 4px;
}

.logo-container {
  text-align: center;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.site-logo {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  color: #333;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-right: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.search-btn {
  padding: 8px 12px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.dropdown-arrow {
  font-size: 8px;
  margin-left: 2px;
  margin-bottom: 7px;
  display: inline-block;
  vertical-align: middle;
}
